<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Geração de certificado</h1>
    <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
  </div>

  <div class="custom-card w-100">
    <h2 class="card-title">Novo certificado</h2>
    <div class="custom-input-group">
      <label [ngClass]="{'text-danger-label': invalidField(nameRef)}" for="nome" class="form-label">Nome</label>
      <input id="nome" name="name" type="text" class="form-control custom-input" placeholder="Nome do aluno"
        [(ngModel)]="certificate.name" #nameRef="ngModel" maxlength="150" required>
      @if (invalidField(nameRef)) {
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">Nome do aluno é obrigatório</p>
      </div>
      }
    </div>
    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">
        <label for="atividade" class="form-label">Atividade</label>
        <input #activityRef="ngModel" maxlength="50" required [(ngModel)]="activity" id="atividade" name="activity"
          type="text" class="form-control custom-input" placeholder="Atividade excercida">
      </div>
      <app-secondary-button (click)="addActivity()" buttonText="Adicionar" phClass="ph ph-plus"
        [disabled]="activity.length == 0"></app-secondary-button>
    </div>

    <div class="activity-group">
      <label class="form-label">Lista de atividades</label>
      <div class="item-list w-100">
        @for (activity of certificate.activities; track $index) {
        <div class="item">
          <span class="item-text">{{activity}}</span>
          <div (click)="deleteActivity($index)" class="btn-remove">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>
        @if ($index + 1 != certificate.activities.length) {
        <hr>
        }
        }
      </div>
    </div>

    <app-primary-button (click)="submit()" buttonText="Gerar certificado"
      [disabled]="!validForm()"></app-primary-button>
  </div>
</form>